@model Lab1_IStaTP.PatientRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrdateOfStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrdateOfStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrdateOfDischarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrdateOfDischarge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complexity.ComplexityNaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentNaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disease.DiseaseNaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
