@model IEnumerable<Lab1_IStaTP.Patients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Psurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PneighbourhoodNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Psurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PneighbourhoodNavigation.NeighbourhoodNaming)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
