@model IEnumerable<Lab1_IStaTP.Departments>

@{
    ViewData["Title"] = "Departments";
}
<h1>Departments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentNaming)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiefOfDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOfPlaces)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentNaming)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChiefOfDepartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityOfPlaces)
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                    }
                        <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> 

                </td >
             </tr >
}
</tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>
@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Diagram of employees by categories",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);

            })
        }
    </script>
}